<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Product List</title>
	</head>
	<body style="background-color:RGB(81, 125, 236) ;">
        <body>
           <nav>
               <a href="/products/new">Add a new Product</a>
               </nav>
           </nav>
            <h1>SHOP</h1>
            <ul>
                <% Product.forEach(Product => { %>
                    <li>
                        <a href="products/<%=Product._id; %>"> 
                            
                            <h3><%=Product.name; %></h3> 
                            <img src=<%= Product.img %>/>
                            <%=Product.price; %> </a>
                            
                    </li>
                
                <% }) %>
               
            </ul>
	</body>
</html>