<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Logs List</title>
	</head>
	<body>
        <nav>
            <a href="/products">Back to Captain Logs</a>
        </nav>
        <h1>Products Page</h1>
        <h1><%=Product.name %></h1>
        Description: <%= Product.Description %>
        <br />
        Completed: <%= Product.completed %>
    </body>
    </html>
